.color1{
    background:yellow;
}

.color2{
    background:red;
}

#block{
    background: #ccc;
    padding:25px;
}

.hide{
    display: none;
}

ul span{
    display: block;
    padding: 10px;
    cursor: pointer;
}

img{
    width: 100%;
}

