#cart{
    background: #ccc;
    min-height: 200px;

    .cart-wrap {
        display: flex;
        height: 100px;
        align-items: center;
        max-width: 400px;
        justify-content: space-between;
        border: 1px solid;
        padding: 15px;
        margin: auto;
    }
}

