
#products-block{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;

    .product{
    
        width: 33.33%;
    
        .wrap{
            padding: 15px;
            text-align: center;
            margin: 15px;
            box-shadow: 0 0 5px black;
        }
    }
}

.cart-product img{
    max-width: 100px;
}
